*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(133, 125, 125); */
    /* color:#6C63FF; */
    font-family: 'Poppins', sans-serif;
}
.main-headding{
justify-content: center;
/* justify-items: center; */
text-align: center;
font-size: 40px;
    padding: 26px;
    font-weight: revert;
}

.login-btn{
    padding: 4px 6px;
    /* background: #16b531; */
    background-color: #61dda9;
    border: none;
    color: white;
    border-radius: 4px;
    
}
.login-btn a{
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
.text-center{
    float: center;
    text-align: center;
}
.vl {
    border-left: 3px solid green;
    height: 100%;
  }
  .bannerImgDiv{
    width: 100%;
    height: 500px;
    background-image: url('../../public/asset/image/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 500px; 
  }
  .bannerContent{
    margin-left: 91px;
    width: 41%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: #16b531; */
  }
  .bannerButton{
    background-color: #4b5fac;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
  }

  .firstText{
    color: #50b98e;
  }
  .secondText{
    color: #4b5fac;
  }
  /* .highlight{
    color: #16b531;
    } */